## **Enfermedades raras, huérfanas y transplantes solventados por el Fondo Intangible Solidario de Salud (FISSAL)**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
data = pd.read_csv('DATASETS_RARAS_HUERFANAS.csv', delimiter = ';', encoding = 'latin-1')
data.head()

,DOCUMENTO_ANONIMIZADO,PERIODO,RENAES,IPRESS,REGION,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,CODIGO_DIAGNOSTICO,DIAGNOSTICOS,GRUPO_DIAGNOSTICOS,GRUPO_COBERTURA,SEXO,EDAD,TIPO_SEGURO,SERVICIO,FECHA_ATENCION,MONTO_BRUTO,FECHA_CORTE
0,74417,2022,2305,ANTONIO LORENA DEL CUSCO,CUSCO,Cusco,Cusco,Santiago,80106.0,Q721,Ausencia congénita del muslo y de la pierna co...,ENFERMEDAD RARA O HUERFANA,ERH,FEMENINO,28,SIS GRATUITO,AMBULATORIO,20211229,1.76,20230525
1,74417,2022,2305,ANTONIO LORENA DEL CUSCO,CUSCO,Cusco,Cusco,Santiago,80106.0,Q721,Ausencia congénita del muslo y de la pierna co...,ENFERMEDAD RARA O HUERFANA,ERH,FEMENINO,28,SIS GRATUITO,AMBULATORIO,20211229,3.60,20230525
2,74417,2022,2305,ANTONIO LORENA DEL CUSCO,CUSCO,Cusco,Cusco,Santiago,80106.0,Q721,Ausencia congénita del muslo y de la pierna co...,ENFERMEDAD RARA O HUERFANA,ERH,FEMENINO,28,SIS GRATUITO,AMBULATORIO,20211229,4.80,20230525
3,79839,2022,2305,ANTONIO LORENA DEL CUSCO,CUSCO,Cusco,Cusco,Santiago,80106.0,Q431,Enfermedad de Hirschsprung,ENFERMEDAD RARA O HUERFANA,ERH,FEMENINO,0,SIS GRATUITO,AMBULATORIO,20211219,1.80,20230525
4,43660,2022,2305,ANTONIO LORENA DEL CUSCO,CUSCO,Cusco,Cusco,Santiago,80106.0,I151,Hipertensión secundaria a otros trastornos ren...,ENFERMEDAD RARA O HUERFANA,ERH,FEMENINO,56,SIS GRATUITO,AMBULATORIO,20211213,2.70,20230525

In [3]:
data.columns

Index(['DOCUMENTO_ANONIMIZADO', 'PERIODO', 'RENAES', 'IPRESS', 'REGION',
       'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'UBIGEO', 'CODIGO_DIAGNOSTICO',
       'DIAGNOSTICOS', 'GRUPO_DIAGNOSTICOS', 'GRUPO_COBERTURA', 'SEXO', 'EDAD',
       'TIPO_SEGURO', 'SERVICIO', 'FECHA_ATENCION', 'MONTO_BRUTO',
       'FECHA_CORTE'],
      dtype='object')

In [4]:
data.shape

(1354037, 20)

In [5]:
data.dtypes

DOCUMENTO_ANONIMIZADO      int64
PERIODO                    int64
RENAES                     int64
IPRESS                    object
REGION                    object
DEPARTAMENTO              object
PROVINCIA                 object
DISTRITO                  object
UBIGEO                   float64
CODIGO_DIAGNOSTICO        object
DIAGNOSTICOS              object
GRUPO_DIAGNOSTICOS        object
GRUPO_COBERTURA           object
SEXO                      object
EDAD                       int64
TIPO_SEGURO               object
SERVICIO                  object
FECHA_ATENCION             int64
MONTO_BRUTO              float64
FECHA_CORTE                int64
dtype: object

In [6]:
data.isnull().sum()

DOCUMENTO_ANONIMIZADO       0
PERIODO                     0
RENAES                      0
IPRESS                   6283
REGION                      0
DEPARTAMENTO             3630
PROVINCIA                3630
DISTRITO                 3630
UBIGEO                   3630
CODIGO_DIAGNOSTICO          0
DIAGNOSTICOS                0
GRUPO_DIAGNOSTICOS          0
GRUPO_COBERTURA             0
SEXO                        0
EDAD                        0
TIPO_SEGURO                 0
SERVICIO                    0
FECHA_ATENCION              0
MONTO_BRUTO                 0
FECHA_CORTE                 0
dtype: int64

### **Análisis Exploratio de Datos**

In [7]:
print(f'Existen {len(data["RENAES"].unique())} establecimientos únicos de salud en el dataset')

Existen 75 establecimientos únicos de salud en el dataset

In [8]:
print(f'Existen {len(data["IPRESS"].unique())} establecimientos únicos de salud en el dataset')

Existen 75 establecimientos únicos de salud en el dataset

In [9]:
print(f'Existen {data["DOCUMENTO_ANONIMIZADO"].nunique()} personas únicas en el dataset')

Existen 51659 personas únicas en el dataset

In [10]:
df1 = pd.DataFrame(data.groupby('REGION')['RENAES'].nunique())
df1["%"] = df1["RENAES"].apply(lambda x : round(x / sum(df1["RENAES"])*100,0))
df1.sort_values("%", ascending = False)

               RENAES     %
REGION
LIMA               25  33.0
AREQUIPA            6   8.0
JUNIN               5   7.0
LA LIBERTAD         3   4.0
AYACUCHO            3   4.0
CALLAO              3   4.0
ICA                 3   4.0
ANCASH              3   4.0
LAMBAYEQUE          2   3.0
SAN MARTIN          2   3.0
PUNO                2   3.0
PIURA               2   3.0
LORETO              2   3.0
UCAYALI             2   3.0
CUSCO               2   3.0
APURIMAC            2   3.0
HUANUCO             1   1.0
HUANCAVELICA        1   1.0
MADRE DE DIOS       1   1.0
MOQUEGUA            1   1.0
CAJAMARCA           1   1.0
TACNA               1   1.0
TUMBES              1   1.0
AMAZONAS            1   1.0

In [11]:
distritos_max_establecimientos = pd.DataFrame(data.groupby(["REGION", "DISTRITO"])["RENAES"].nunique().sort_values(ascending = False)).reset_index()
distritos_max_establecimientos.drop_duplicates(subset = "REGION").reset_index()

    index         REGION      DISTRITO  RENAES
0       0           LIMA          Lima       6
1       1    LA LIBERTAD      Trujillo       3
2       2       AREQUIPA      Arequipa       3
3       3            ICA           Ica       2
4       4         CALLAO    Bellavista       2
5       5          JUNIN      Huancayo       2
6       6     LAMBAYEQUE      Chiclayo       2
7       7       AMAZONAS   Chachapoyas       1
8      17         LORETO       Iquitos       1
9      21  MADRE DE DIOS     Tambopata       1
10     22       MOQUEGUA      Moquegua       1
11     23          PIURA         Piura       1
12     25           PUNO       Juliaca       1
13     27     SAN MARTIN     Moyobamba       1
14     29          TACNA         Tacna       1
15     30         TUMBES        Tumbes       1
16     31        UCAYALI      Calleria       1
17     36         ANCASH        Huaraz       1
18     38       APURIMAC       Abancay       1
19     42       AYACUCHO      Ayacucho       1
20     45      CAJAMARCA     Cajamarca       1
21     47          CUSCO         Cusco       1
22     49   HUANCAVELICA  Huancavelica       1
23     50        HUANUCO       Huanuco       1

In [12]:
print(f'Existen {len(data["CODIGO_DIAGNOSTICO"].unique())} código de diagnósticos en el dataset')

Existen 534 código de diagnósticos en el dataset

In [13]:
print(f'Existen {len(data["DIAGNOSTICOS"].unique())} diagnósticos en el dataset')

Existen 534 diagnósticos en el dataset

In [14]:
data["GRUPO_DIAGNOSTICOS"].value_counts().apply(lambda x : round(x / sum(data["GRUPO_DIAGNOSTICOS"].value_counts())*100,2))

ENFERMEDAD RARA O HUERFANA                    91.92
TRASPLANTE DE PROGENITORES HEMATOPOYÉTICOS     5.94
TRASPLANTE RENAL                               1.64
TRASPLANTE HEPÁTICO                            0.49
Name: GRUPO_DIAGNOSTICOS, dtype: float64

In [15]:
a = pd.DataFrame(data.groupby("GRUPO_DIAGNOSTICOS")["DOCUMENTO_ANONIMIZADO"].nunique())
a["DOCUMENTO_ANONIMIZADO"].apply(lambda x :x/sum(a["DOCUMENTO_ANONIMIZADO"])*100)

GRUPO_DIAGNOSTICOS
ENFERMEDAD RARA O HUERFANA                    98.459094
TRASPLANTE DE PROGENITORES HEMATOPOYÉTICOS     1.167643
TRASPLANTE HEPÁTICO                            0.080395
TRASPLANTE RENAL                               0.292868
Name: DOCUMENTO_ANONIMIZADO, dtype: float64

In [16]:
data["GRUPO_COBERTURA"].value_counts().apply(lambda x : round(x / sum(data["GRUPO_COBERTURA"].value_counts())*100,2))

ERH    91.92
PAC     8.08
Name: GRUPO_COBERTURA, dtype: float64

In [17]:
data["SEXO"].value_counts().apply(lambda x : round(x/sum(data["SEXO"].value_counts())*100,2))

FEMENINO     60.53
MASCULINO    39.47
Name: SEXO, dtype: float64

In [18]:
data["EDAD"].value_counts()

0      44656
1      26995
2      24864
55     21939
57     21623
       ...
106       50
105       46
102       33
104        2
109        1
Name: EDAD, Length: 107, dtype: int64

In [19]:
b = pd.DataFrame(data.groupby(["DOCUMENTO_ANONIMIZADO", "TIPO_SEGURO"])["EDAD"].nunique()).reset_index()
b = pd.DataFrame(b.groupby("DOCUMENTO_ANONIMIZADO")["TIPO_SEGURO"].count().sort_values(ascending = False))
b = b[b["TIPO_SEGURO"] >1].reset_index()
data[data["DOCUMENTO_ANONIMIZADO"].isin(b["DOCUMENTO_ANONIMIZADO"])].groupby("TIPO_SEGURO")["EDAD"].nunique()

TIPO_SEGURO
SIS EMPRENDEDOR       73
SIS GRATUITO         102
SIS INDEPENDIENTE     87
SIS MICROEMPRESAS     19
SIS PARA TODOS        96
Name: EDAD, dtype: int64

In [20]:
data.groupby(["SEXO","GRUPO_DIAGNOSTICOS"])["EDAD"].count().apply(lambda x : x/sum(data.groupby(["SEXO","GRUPO_DIAGNOSTICOS"])["EDAD"].count())*100)

SEXO       GRUPO_DIAGNOSTICOS
FEMENINO   ENFERMEDAD RARA O HUERFANA                    56.530730
           TRASPLANTE DE PROGENITORES HEMATOPOYÉTICOS     2.761077
           TRASPLANTE HEPÁTICO                            0.338765
           TRASPLANTE RENAL                               0.898424
MASCULINO  ENFERMEDAD RARA O HUERFANA                    35.393641
           TRASPLANTE DE PROGENITORES HEMATOPOYÉTICOS     3.182040
           TRASPLANTE HEPÁTICO                            0.149627
           TRASPLANTE RENAL                               0.745696
Name: EDAD, dtype: float64

In [21]:
data.groupby(["GRUPO_DIAGNOSTICOS","DIAGNOSTICOS"])["EDAD"].nunique().sort_values(ascending = False)[:5]

GRUPO_DIAGNOSTICOS          DIAGNOSTICOS
ENFERMEDAD RARA O HUERFANA  Diabetes mellitus no insulinodependiente, sin mención de complicación (MODY)    103
                            Enfermedad pulmonar intersticial, no especificada                               102
                            Hipoglicemia, no especificada                                                    99
                            Otras enfermedades pulmonares intersticiales con fibrosis                        97
                            Trastorno del metabolismo de las lipoproteínas, no especificado                  97
Name: EDAD, dtype: int64

In [22]:
sum(data.groupby("DIAGNOSTICOS")["EDAD"].nunique().sort_values(ascending = False))

13012

In [23]:
data.groupby("REGION")["DOCUMENTO_ANONIMIZADO"].nunique().apply(lambda x : x/sum(data.groupby("REGION")["DOCUMENTO_ANONIMIZADO"].nunique()))

REGION
AMAZONAS         0.005006
ANCASH           0.025942
APURIMAC         0.008540
AREQUIPA         0.067464
AYACUCHO         0.015246
CAJAMARCA        0.010039
CALLAO           0.078802
CUSCO            0.033545
HUANCAVELICA     0.005448
HUANUCO          0.012824
ICA              0.027508
JUNIN            0.038524
LA LIBERTAD      0.030680
LAMBAYEQUE       0.038832
LIMA             0.478529
LORETO           0.019891
MADRE DE DIOS    0.002717
MOQUEGUA         0.008620
PIURA            0.018968
PUNO             0.013279
SAN MARTIN       0.028699
TACNA            0.017241
TUMBES           0.007028
UCAYALI          0.006626
Name: DOCUMENTO_ANONIMIZADO, dtype: float64

In [24]:
data.groupby("IPRESS")["EDAD"].count().sort_values(ascending = False)

IPRESS
INSTITUTO NACIONAL DE SALUD DEL NIÑO - SAN BORJA                                138403
INSTITUTO NACIONAL DE SALUD DEL NIÑO - BREÑA                                    120936
HOSPITAL NACIONAL CAYETANO HEREDIA                                               95790
HOSPITAL NACIONAL ARZOBISPO LOAYZA                                               75302
HOSPITAL NACIONAL DOS DE MAYO                                                    73555
                                                                                 ...
INSTITUTO NACIONAL MATERNO PERINATAL                                              1186
REGIONAL DOCENTE MATERNO INFANTIL "EL CARMEN"                                     1024
INSTITUTO REGIONAL DE ENFERMEDADES NEOPLASICAS  LUIS PINILLOS GANOZA - IREN       984
HOSPITAL DE APOYO SAN MIGUEL                                                       530
ATENCION DOMICILIARIA AL ADULTO MAYOR Y PACIENTE ONCOLOGICO (ADAMO)                283
Name: EDAD, Length: 74, dtype: int64

In [25]:
sum(data.groupby("IPRESS")["EDAD"].count().sort_values(ascending = False))

1347754

In [26]:
data.groupby(["SEXO"])["MONTO_BRUTO"].mean()

SEXO
FEMENINO     47.704520
MASCULINO    69.855058
Name: MONTO_BRUTO, dtype: float64

In [27]:
data.groupby(["SEXO","DOCUMENTO_ANONIMIZADO"])["MONTO_BRUTO"].sum().groupby("SEXO").median()

SEXO
FEMENINO     99.625
MASCULINO    84.300
Name: MONTO_BRUTO, dtype: float64

In [34]:
d = pd.DataFrame(data.groupby("IPRESS")["MONTO_BRUTO"].sum().sort_values(ascending = False))
d

                                                     MONTO_BRUTO
IPRESS
INSTITUTO NACIONAL DE SALUD DEL NIÑO - SAN BORJA    2.276114e+07
INSTITUTO NACIONAL DE SALUD DEL NIÑO - BREÑA        1.043354e+07
HOSPITAL DE MEDIANA COMPLEJIDAD JOSE AGURTO TELLO   6.391084e+06
INSTITUTO NACIONAL DE ENFERMEDADES NEOPLASICAS ...  5.764913e+06
INSTITUTO NACIONAL DE CIENCIAS NEUROLOGICAS         4.011740e+06
...                                                          ...
INSTITUTO REGIONAL DE ENFERMEDADES NEOPLASICAS ...  1.422575e+04
HOSPITAL APLAO                                      9.721920e+03
HOSPITAL DE APOYO JESUS NAZARENO                    2.672550e+03
HOSPITAL DE APOYO SAN MIGUEL                        2.452930e+03
ATENCION DOMICILIARIA AL ADULTO MAYOR Y PACIENT...  1.521310e+03

[74 rows x 1 columns]

In [37]:
e = pd.DataFrame(data.groupby("IPRESS")["DOCUMENTO_ANONIMIZADO"].nunique().sort_values(ascending = False))
e

                                                    DOCUMENTO_ANONIMIZADO
IPRESS
HOSPITAL MARIA AUXILIADORA                                           8512
HOSPITAL NACIONAL CAYETANO HEREDIA                                   5230
HOSPITAL NACIONAL DOS DE MAYO                                        5068
INSTITUTO NACIONAL DE SALUD DEL NIÑO - BREÑA                         4634
HOSPITAL NACIONAL ARZOBISPO LOAYZA                                   3803
...                                                                   ...
HOSPITAL DE EMERGENCIAS PEDIATRICAS                                    93
REGIONAL DOCENTE MATERNO INFANTIL "EL CARMEN"                          91
HOSPITAL REGIONAL DE PUCALLPA                                          90
HOSPITAL DE APOYO SAN MIGUEL                                           54
ATENCION DOMICILIARIA AL ADULTO MAYOR Y PACIENT...                     41

[74 rows x 1 columns]

In [39]:
f = pd.merge(d, e, right_index = True, left_index = True)
f["Ingreso Medio"] = f["MONTO_BRUTO"] / f["DOCUMENTO_ANONIMIZADO"]
f

,MONTO_BRUTO,DOCUMENTO_ANONIMIZADO,Ingreso Medio
IPRESS,,,
INSTITUTO NACIONAL DE SALUD DEL NIÑO - SAN BORJA,2.276114e+07,2687,8470.836086
INSTITUTO NACIONAL DE SALUD DEL NIÑO - BREÑA,1.043354e+07,4634,2251.519041
HOSPITAL DE MEDIANA COMPLEJIDAD JOSE AGURTO TELLO,6.391084e+06,1270,5032.349606
INSTITUTO NACIONAL DE ENFERMEDADES NEOPLASICAS - INEN,5.764913e+06,1311,4397.340098
INSTITUTO NACIONAL DE CIENCIAS NEUROLOGICAS,4.011740e+06,2497,1606.623804
...,...,...,...
INSTITUTO REGIONAL DE ENFERMEDADES NEOPLASICAS  LUIS PINILLOS GANOZA - IREN,1.422575e+04,169,84.176065
HOSPITAL APLAO,9.721920e+03,235,41.369872
HOSPITAL DE APOYO JESUS NAZARENO,2.672550e+03,195,13.705385
HOSPITAL DE APOYO SAN MIGUEL,2.452930e+03,54,45.424630
ATENCION DOMICILIARIA AL ADULTO MAYOR Y PACIENTE ONCOLOGICO (ADAMO),1.521310e+03,41,37.105122